[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/roxmiv
[access "refs/for/refs/*"]
	read = group user/roxmiv
	push = group user/roxmiv
	label-Code-Review = -2..+2 group user/roxmiv
	label-Verified = -1..+1 group user/roxmiv
	rebase = group user/roxmiv
	removeReviewer = group user/roxmiv
	submit = group user/roxmiv
[access "refs/heads/*"]
	read = group user/roxmiv
	create = group user/roxmiv
	push = +force group user/roxmiv
	pushMerge = group user/roxmiv
[access "refs/tags/*"]
	push = +force group user/roxmiv
	pushTag = group user/roxmiv
	pushSignedTag = group user/roxmiv
